@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto',sans-serif;
}
#logo{
    margin: 0px;
}

ul{

    list-style-type: none;
    display: flex;
    gap: 20px;
}


a{
    text-decoration: none;
    color: white; /* delete after */
    font-size: 18px;
}

.part-one{
    background-color: #1f2937;
    margin: 0px;
    padding: 0px;
    height: 400px;
    color: white; /* delete after */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space{
    flex-grow: 1;
}

.header{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    font-size: 24px;
    color: #f9f1f8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hero{
    width: 70%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 30px;
}

.hero-left-text{
    width: 50%;
}
#hero-img{
    background-color: grey;
    align-self: stretch;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#hero-button{
    border-radius: 6px;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}


#hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0px;
    flex-wrap: wrap;
}


#hero-sub-text{
    margin: 0px 0px 5px 0px;
    font-size: 18px;
}

.part-two{
    height: 500px;
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 0px;
    padding: 42px;


}
.square{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    flex-grow: 2;

}

.square-pos{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;

}

.square-con{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid #3882f6;
    border-radius: 16px;
    border-width: 4px;
}

.square-text{
    font-size: 18px; 
    text-align: center;
    margin-top: 10px;
}

.part-three{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-pos{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    max-width: 800px;
}

.quote-speaker{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.part-four{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-box{
    background-color: #3882f6;
    width: 70%;
    border-radius: 5px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#four-button{
    border-radius: 6px;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    border: solid;
    border-width: 2px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 8px;
}

.four-main-text{
    font-size: 22px;
    font-weight: 900;
    color: #f9faf8;
}
.four-sub-text{
    color: #f9faf8;
    font-weight: lighter;
}

.part-five{
    min-height: 125px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    color: #f9faf8;
}